<%- include("template/header") %>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Estudiante</h2>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 6%;">Matricula</div>
                        <div class="div-table-cell" style="width: 18%;">Nombre</div>
                        <div class="div-table-cell" style="width: 18%;">Apellido</div>
                        <div class="div-table-cell" style="width: 10%;">Dirección</div>
                        <div class="div-table-cell" style="width: 26%;">Fecha de nacimiento</div>
                        <div class="div-table-cell" style="width: 9%;">Celular</div>
                        <div class="div-table-cell" style="width: 9%;">Carrera</div>
                    </div>
                </div>
            </div>
            <% for(let i = 0; i < tabla.length; i++) { %>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 6%;"><%= tabla[i][0] %></div> <!-- matricula -->
                        <div class="div-table-cell" style="width: 18%;"><%= tabla[i][3] %></div> <!-- nombre -->
                        <div class="div-table-cell" style="width: 18%;"><%= tabla[i][4] %></div> <!-- apellido -->
                        <div class="div-table-cell" style="width: 10%;"><%= tabla[i][10] %> No.<%= tabla[i][11] %> <br>CP: <%= tabla[i][12] %></div> <!-- direccion -->
                        <div class="div-table-cell" style="width: 26%;"><%= tabla[i][5].getDate() %>/<%= tabla[i][5].getMonth() %>/<%= tabla[i][5].getFullYear() %></div> <!-- Fecha de nacimiento -->
                        <div class="div-table-cell" style="width: 9%;"><%= tabla[i][6] %></div> <!-- celular -->
                        <div class="div-table-cell" style="width: 9%;"><%= tabla[i][8] %></div> <!-- carrera -->
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <%- include("template/footer") %>