<%- include("template/header") %>
        <section class="full-reset text-center" style="padding: 40px 0;">
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                <div class="tile-name all-tittles">Administradores</div>
                <div class="tile-num full-reset"><%= no_admin.length %></div>
            </article>
            <a href="/liststudent">
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
                <div class="tile-name all-tittles">Estudiantes</div>
                <div class="tile-num full-reset"><%= no_students.length %></div>
            </article>
            </a>
            <a href="/listteacher">
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-male-alt"></i></div>
                <div class="tile-name all-tittles">Docentes</div>
                <div class="tile-num full-reset"><%= no_docentes.length %></div>
            </article>
            </a>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
                <div class="tile-name all-tittles">Libros</div>
                <div class="tile-num full-reset"><%= no_books.length %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-bookmark-outline"></i></div>
                <div class="tile-name all-tittles">Categorías</div>
                <div class="tile-num full-reset"><%= no_categorias.length %></div>
            </article>
            <article class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
                <div class="tile-name all-tittles">préstamos</div>
                <div class="tile-num full-reset"><%= no_prestamos.length %></div>
            </article>
        </section>
        <%- include("template/footer") %>