<%- include("template/header") %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                        <li><a href="admin">Nuevo administrador</a></li>
                        <li class="active">listado de administradores</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Lista de administradores</h2>
            <div class="div-table">
                <div class="div-table-row div-table-head">
                    <div class="div-table-cell">Matricula</div>
                    <div class="div-table-cell">Nombre</div>
                    <div class="div-table-cell">apellido</div>
                    <div class="div-table-cell">Télefono</div>
                    <div class="div-table-cell">Rol</div>
                </div>
                <% for(let i = 0; i < tabla.length; i++) { %>
                <div class="div-table-row">
                    <div class="div-table-cell"><%= tabla[i][0] %></div>
                    <div class="div-table-cell"><%= tabla[i][5] %></div>
                    <div class="div-table-cell"><%= tabla[i][6] %></div>
                    <div class="div-table-cell"><%= tabla[i][8] %></div>
                    <div class="div-table-cell"><%= tabla[i][1] %></div>
                </div>
                <% } %>
            </div>                  
        </div>
        <%- include("template/footer") %>