<%- include("template/header") %>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de préstamos</h2>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                        <div class="div-table-cell" style="width: 15%;">Prestamo ID</div>
                        <div class="div-table-cell" style="width: 15%;">Persona</div>
                        <div class="div-table-cell" style="width: 10%;">Matricula</div>
                        <div class="div-table-cell" style="width: 18%;">Isbn</div>
                        <div class="div-table-cell" style="width: 22%;">Libro</div>
                        <div class="div-table-cell" style="width: 20%;">Celular</div>
                    </div>
                </div>
            </div>
            <% for(let i = 0; i < tabla.length; i++) { %>
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 15%;"><%= tabla[i][0] %></div>
                        <div class="div-table-cell" style="width: 15%;"><%= tabla[i][6] %> <%= tabla[i][7] %></div>
                        <div class="div-table-cell" style="width: 10%;"><%= tabla[i][1] %></div>
                        <div class="div-table-cell" style="width: 18%;"><%= tabla[i][2] %></div>
                        <div class="div-table-cell" style="width: 22%;"><%= tabla[i][11] %></div>
                        <div class="div-table-cell" style="width: 20%;"><%= tabla[i][9] %></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <%- include("template/footer") %>